img {
	max-width: 74%;
	max-height: 100px;
	pointer-events: none;
}

span {
	text-decoration: none;
	text-align: center;
}

a {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 8%;
}
