<mat-sidenav-container class="am-page">
  <mat-sidenav #sidenav class="nav" fxHide.gt-sm fxLayout="column" fxLayout fxShow mode="push">
    <button mat-button></button> <!-- avoid focus of first element -->
    <a (click)="sidenav.close()" *ngFor="let homepage of homepages$ | async" [routerLink]="['', homepage]"
       mat-button>{{title}}</a>

    <a (click)="sidenav.close()" *ngFor="let page of pages$ | async" [routerLink]="['', page]"
       mat-button>{{page}}</a>
  </mat-sidenav>

  <mat-toolbar (window:resize)="sidenav.close()" color="primary">
    <div *ngFor="let homepage of homepages$ | async" [routerLink]="['', homepage]" class="logo" fxHide.gt-sm
         fxShow></div>
    <button (click)="sidenav.open()" fxHide.gt-sm fxShow mat-button>Menu</button>
    <div fxHide fxLayout="row" fxShow.gt-sm>
      <a *ngFor="let homepage of homepages$ | async" [routerLink]="['', homepage]" class="title" mat-button>{{title}}
        - {{subtitle}}</a>

      <a *ngFor="let page of pages$ | async" [routerLink]="['', page]" mat-button>{{page}}</a>
    </div>
  </mat-toolbar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
